{
  "customModes": [
    {
      "slug": "example-slug",
      "name": "Example Name",
      "roleDefinition": "Example Role Definitioin",
      "customInstructions": "Always readyour own -details.md file before starting work. Example custom instructions (optional)",
      "groups": [
        "read",
        "edit",
        "browser",
        "command",
        "mcp"
      ],
      "source": "project"
    }
  ]
}